* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-dark);
}

.index-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1440px;
  gap: 32px;
  flex-wrap: wrap;
  flex: 1;
  padding: clamp(24px, calc(15.549px + 2.254vw), 48px) clamp(16px, 3.68vw + 2.2px, 55.2px);
}

hr {
  border: 1.2px solid var(--neon-cyan);
  width: 100%;
  margin: clamp(8px, calc(5.183px + 0.751vw), 16px) 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input {
  background: none;
  border: none;
  color: var(--text-light);
  background-color: var(--bg-input);
  width: 100%;
  height: 24px;
  padding: 8px;
}

svg {
  display: block;
  cursor: pointer;
}
