.card-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: clamp(16px, calc(-2.337px + 2.385vw), 32px) clamp(8px, calc(-77.714px + 10.714vw), 32px);
}

.card {
  max-width: 350px;

  background-color: var(--bg-card);
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 16px;
}

.card-heading {
  min-height: clamp(58px, calc(55.183px + 0.751vw), 66px);
  align-content: center;
}

.img-wrapper {
  width: 100%;
  height: auto;

  position: relative;

  .hobby-img {
    aspect-ratio: 2 / 1;
    max-width: 100%;
    min-height: 0;
    object-fit: cover;
  }

  .icon-save {
    width: 32px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 4px;
    stroke: var(--neon-cyan);
    stroke-width: 0.4px;
    fill: rgba(255, 255, 255, 0.2);
  }
  
  .icon-save-checked {
    fill: var(--neon-cyan);
  }
}

.infos {
  text-align: left;
  width: 260px;

  th {
    padding-right: 32px;
  }
}

.bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.likes-wrapper {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-bottom: 8px;

    .like {
        display: flex;
        align-items: center;
        gap: 8px;
        text-align: left;
    }

    .icon-like {
        width: 24px;
        height: 32px;
        stroke: var(--neon-green);
        fill: var(--bg-card);
    }

    .icon-like-checked {
      fill: var(--neon-green);
    }

    .icon-dislike {
        width: 24px;
        height: 32px;
        stroke: var(--neon-pink);
        fill: var(--bg-card);
    }

    .icon-dislike-checked {
      fill: var(--neon-pink);
    }
}

.open-comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px;

  border-radius: 10px;
}

.btn-open-comments {
  background-color: var(--neon-cyan);
  border-radius: 10px;
  padding: 8px;
  color: var(--bg-input);
  font-weight: 600;
}