:root {
  --bg-dark: #0d1117;
  --bg-card: #161b22;
  --bg-input: #21262d;
  --bg-header-footer: #30363d;

  --text-light: #f0f6fc;

  --neon-cyan: #00f2fe;
  --neon-pink: #ff007f;
  --neon-green: #39ff14;
  
}